.header img {
    height: 50px;
    width: 100px;
    display: flex;
    margin-left: 20px;


}

.header {
    height: 80px;
    width: 980px;
    background-color: rgb(53, 66, 70);
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    text-decoration: none;
    padding-right: 140px;
    padding-left: 14 0px;
}

.header a {
    color: white;
    text-decoration: none;
    padding-right: 30px;
    /* justify-content: space-between; */
    margin-left: 100px;
    align-items: center;


    /* position: absolute; */
}

nav {
    width: 45px;
    height: 80px;
    background-color: rgb(53, 66, 70);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    text-decoration: none;
    padding-right: 140px;
    position: relative;


}

.header a:hover {
    color: orange;
}