body {
    /* color: cadetblue; */
    background-color: rgb(50, 120, 155);
}

.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.products-container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 45px; */
    /* margin: 100px 50px; */
    width: 70%;
}

.cart-container {
    display: grid;
    color: rgb(255, 248, 248);
    /* background-color: rgb(143, 166, 158); */
    border-radius: 10px;
}

@media screen and (max-width:1100px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 45px;
    }

}